/* This unsets all css so page styles won't interfere with our styles */
:root {
  --color-white: hsl(50deg 50% 99%);
  --color-primary: #0058dc;
}

.ui * {
  all: revert;
}

.ui {
  position: absolute;
  top: 0;
  z-index: 999999;
  background: var(--color-white);
  border: solid 5px var(--color-primary);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;

  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 25em;
  max-height: 30em;
}

.ui h1 {
  font-size: larger;
  color: var(--color-primary);
}

.logo {
  height: 16px;
}

.log {
  max-width: 100%;
  max-height: 10em;
  overflow: auto;
}

.ui button,
.btn {
  background: var(--color-primary);
  border: none;
  color: var(--color-white);
  margin: 3px;
  padding: 7px;
  border-radius: 4px;
}

.btn.btnWhite {
  background: var(--color-white);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
