/* Mobile only */
@media only screen and (((hover: none) and (pointer: coarse)) or (max-width: 767px)) {
  #header #loginPanel {
    display: block !important;
    width: 80%;
    padding: 10px;
    margin: 1em auto;
    text-align: center;
    background: unset;
    border: #453b34 solid 3px;
    float: unset !important;
  }

  #header .inner {
    height: unset !important;
  }

  #search {
    margin-top: 10px !important;
  }

  #boxBanner img {
    max-width: 100% !important;
  }
}
